.desc {
    padding: 35px;
    text-align: justify;
    font-size: 20px;
}

#santionshit {
    font-weight: 700;

}

#year {
    color: rgb(88, 141, 226);

}

#accent {
    color: rgb(24, 67, 183);

}