.carousel-container {
  position: relative;
}
.carousel-image {
  width: 65vw;
  height: 80vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  filter: brightness(77%);
}

.carousel-arrow-left,
.carousel-arrow-right {
  position: absolute;
  top: 50%;
  font-size: 2em;
  z-index: 1;
  transform: translateY(-50%);
  color: whitesmoke;
}

.slick-dots li {
  display: none !important;
}

.carousel-slide {
  width: 100vw !important;
}
.carousel-arrow-left {
  left: 20vw;
}

.carousel-arrow-right {
  right: 20vw;
}

.carousel-arrow-right:hover,
.carousel-arrow-left:hover {
  transition: 1s;
  color: rgb(229, 179, 87);
}

.carousel-arrow-right:not(:hover),
.carousel-arrow-left:not(:hover) {
  transition: 1s;
}

.carousel-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.tourName {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: clamp(18px, 5vw, 40px);
  font-weight: bolder;
}

.textUnderName {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
  font-size: clamp(10px, 15px, 20px);
}

.carousel-slide button {
  position: absolute;
  top: 60%;
  border-radius: 20px;
  border: 3px solid white;
  background: none;
  font-weight: bolder;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 12vw;
  height: 7vh;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.carousel-slide button:hover {
  background: white;
  color: black;
}

.carousel-slide button:active {
  transform: translate(-50%, -45%);
}


@media (max-width: 1050px) {
  .carousel-slide, .carousel-slide img {
    width: 80vw;
    height: 80vh;
  }
  .carousel-arrow-left {
    left: 13vw;
  }
  
  .carousel-arrow-right {
    right: 13vw;
  }
  .carousel-slide button {
    width: 19vw;
  }
}

@media (max-width: 760px) {
  .textUnderName {
    margin-top: 13px;
  }
  .carousel-slide button {
    margin-top: 15px;
  }
}

@media (max-width:600px) {
  .carousel-slide, .carousel-slide img {
    width: 80vw;
    height: 60vh;
  }
  .carousel-slide button {
    margin-top: 30px;
    width: 25vw;
  }
}

@media (max-width:400px) {
  .carousel-slide, .carousel-slide img {
    width: 95vw;
    height: 50vh;
  }
  .carousel-slide button {
    margin-top: 34px;
    width: 33vw;
  }
  .carousel-arrow-left {
    left: 10vw;
  }
  
  .carousel-arrow-right {
    right: 10vw;
  }
}